<h1>PAGINA 1</h1>
<!-- <input [(ngModel)]="numero">
<br>
<strong *ngIf="numero>3">El numero es mayor a 3</strong>
<strong *ngIf="numero==3">El numero es 3</strong>
<p></p>
<tr *ngFor="let sueldo of sueldos">
    <td>{{sueldo}}</td>
</tr>
<ul *ngFor="let sueldo of sueldos">
    <li>{{sueldo}}</li>
</ul>
<div *ngFor="let sueldo of sueldos">
    <div>Sueldos: {{sueldo}}</div>
</div>
<br> -->
<div style="background-color: lightblue;">
    <hr>
    <marquee><h1>FORMULARIO</h1></marquee>
    <hr>
</div>
<br>
<form>
    <div class="form-group">
      <label for="InputEmail">Correo Electronico </label>
      <input type="email" class="form-control" id="InputEmail" placeholder="Ingresa tu Correo"
      [(ngModel)]="email" name="email">
    </div>
    <br>
    <div class="form-group">
      <label for="InputPassword">Contraseña </label>
      <input type="password" class="form-control" id="InputPassword" placeholder="Ingresa tu Contraseña"
      [(ngModel)]="pass" name="passw">
    </div>
    <br>
    <div class="form-group">
        <label for="InputName">Nombre </label>
        <input type="text" class="form-control" id="InputName" placeholder="Ingresa tu Nombre"
        [(ngModel)]="name" name="nom">
      </div>
    <br>
    <div class="form-group">
        <label for="InputName">Telefono </label>
        <input type="text" class="form-control" id="InputTlf" placeholder="Ingresa tu Telefono"
        [(ngModel)]="tlf" name="telf">
      </div>
    <br>
    <button type="button" (click)="almacenar()" (click)="Pagina2()">Submit</button>
  </form>
<br>


